<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915254314920-rb9g6ls32dlkj3fj828v4u4u0o5e58eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915254314920-rb9g6ls32dlkj3fj828v4u4u0o5e58eu</string>
	<key>API_KEY</key>
	<string>AIzaSyBFB1KAzWwWMRLU3hBWTJmG2-u0ti7PCH8</string>
	<key>GCM_SENDER_ID</key>
	<string>915254314920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceAdmin</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-8c2d3</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-8c2d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915254314920:ios:741fb63595024988883f9d</string>
</dict>
</plist>